*{
  font-family:basic;
}
.cover {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
  }
  @font-face {
    font-family: basic;
    src: url(/assets/fonts/Urbanist-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: italic;
    src: url(/assets/fonts/Urbanist-Italic-VariableFont_wght.ttf);
  }
  div.main{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
  }
  section.cover{
    width:100%;
    height:600px;
    bottom:50px;
    padding-top:250px;
    background-image:url(/assets/gradient.png);
  }
h6{
  font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align:left;
}
h1{
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align:left;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:left;
}
body{
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  background: #fff;
  color: #303030;
  color: #333;
}